@use '../../../colors';

.footer {
  margin: 0; 
  padding: 16px; 
  background-color: map-get(colors.$theme-colors, background);
  text-align: center;
  font-size: 0.9rem;
  color: map-get(colors.$theme-colors, text);
}
